@font-face {
    font-family: sf-ui-display-black;
    src: url(../fonts/sf-ui/SF-UI-Display-Black.otf);
}
@font-face {
    font-family: sf-ui-display-bold;
    src: url(../fonts/sf-ui/SF-UI-Display-Bold.otf);
}
@font-face {
    font-family: sf-ui-display-heavy;
    src: url(../fonts/sf-ui/SF-UI-Display-Heavy.otf);
}
@font-face {
    font-family: sf-ui-display-light;
    src: url(../fonts/sf-ui/SF-UI-Display-Light.otf);
}
@font-face {
    font-family: sf-ui-display-medium;
    src: url(../fonts/sf-ui/SF-UI-Display-Medium.otf);
}
@font-face {
    font-family: sf-ui-display-regular;
    src: url(../fonts/sf-ui/SF-UI-Display-Regular.otf);
}
@font-face {
    font-family: sf-ui-display-semibold;
    src: url(../fonts/sf-ui/SF-UI-Display-Semibold.otf);
}
@font-face {
    font-family: sf-ui-display-thin;
    src: url(../fonts/sf-ui/SF-UI-Display-Thin.otf);
}
@font-face {
    font-family: sf-ui-display-ultralight;
    src: url(../fonts/sf-ui/SF-UI-Display-Ultralight.otf);
}
@font-face {
    font-family: sf-ui-text-bold;
    src: url(../fonts/sf-ui/SF-UI-Text-Bold.otf);
}
@font-face {
    font-family: sf-ui-text-bolditalic;
    src: url(../fonts/sf-ui/SF-UI-Text-BoldItalic.otf);
}
@font-face {
    font-family: sf-ui-text-heavy;
    src: url(../fonts/sf-ui/SF-UI-Text-Heavy.otf);
}
@font-face {
    font-family: sf-ui-text-heavyitalic;
    src: url(../fonts/sf-ui/SF-UI-Text-HeavyItalic.otf);
}
@font-face {
    font-family: sf-ui-text-light;
    src: url(../fonts/sf-ui/SF-UI-Text-Light.otf);
}
@font-face {
    font-family: sf-ui-text-lightitalic;
    src: url(../fonts/sf-ui/SF-UI-Text-LightItalic.otf);
}
@font-face {
    font-family: sf-ui-text-medium;
    src: url(../fonts/sf-ui/SF-UI-Text-Medium.otf);
}
@font-face {
    font-family: sf-ui-text-mediumitalic;
    src: url(../fonts/sf-ui/SF-UI-Text-MediumItalic.otf);
}
@font-face {
    font-family: sf-ui-text-regular;
    src: url(../fonts/sf-ui/SF-UI-Text-Regular.otf);
}

@font-face {
    font-family: sf-ui-text-regularitalic;
    src: url(../fonts/sf-ui/SF-UI-Text-RegularItalic.otf);
}
@font-face {
    font-family: sf-ui-text-semibold;
    src: url(../fonts/sf-ui/SF-UI-Text-Semibold.otf);
}
@font-face {
    font-family: sf-ui-text-semibolditalic;
    src: url(../fonts/sf-ui/SF-UI-Text-SemiboldItalic.otf);
}


// Fonts varriable
$sd-black: sf-ui-display-black;
$sd-bold: sf-ui-display-bold;
$sd-heavy: sf-ui-display-heavy;
$sd-light: sf-ui-display-light;
$sd-medium: sf-ui-display-medium;
$sd-regular: sf-ui-display-regular;
$sd-semibold: sf-ui-display-semibold;
$sd-thin: sf-ui-display-thin;
$sd-ultralight: sf-ui-display-ultralight;
$st-bold: sf-ui-text-bold;
$st-bolditalic: sf-ui-text-bolditalic;
$st-heavy: sf-ui-text-heavy;
$st-heavyitalic: sf-ui-text-heavyitalic;
$st-light: sf-ui-text-light;
$st-lightitalic: sf-ui-text-lightitalic;
$st-medium: sf-ui-text-medium;
$st-mediumitalic: sf-ui-text-mediumitalic;
$st-regular: sf-ui-text-regular;
$st-regularitalic: sf-ui-text-regularitalic;
$st-semibold :sf-ui-text-semibold;
$st-semibolditalic :sf-ui-text-semibolditalic;












