//color varriable

$link-color: #111111;
$hover-color: #dd114a;
$border-color: #f5f5f5;
$menu-link-color: #212121;
$white-color: #fff;
$hr-color: #cfcfcf;
$text-color: #4c4c4c;
$link-color-2: #f8347a;
$twt-color: #1da0f1;